.cust_fs36{
  font-size:36px;
}
.mb0{
  margin-bottom:0
}
.mt16{
  margin-top:16px;
}
.cust_fs30{
  font-size:30px;
}
.cust_fs24{
  font-size:24px;
}


/* Add styles to existing elemnts */
.card .card-image img {
  height: 400px;
}

.card .card-content p {
  height: 44px;
}


/* Override Default CSS */
.card-action{
  /* color:#ee6e73; */
  color: #455a64;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  /* color: #ee6e73; */
  color: #00695c;
}
