.mt64{
  margin-top:64px;
}
td, th {
  border-radius:0;
}
.border_color{
  border-bottom: 1px solid #b2dfdb;
}
.ml8{
  margin-left:8px;
}
.mt32{
  margin-top:32px;
}
.cart_summary_heading5{
  margin: 0.6933333333rem 0 .656rem 0;
}
.cart_summary_heading4{
  margin: 1.02rem 0 .912rem 0;
}

.cart_action_anc{
  color: #00796b;
}
.cart_item_actionbtn{
  cursor: pointer;
}
