.cust_fs36{
  font-size: 36px !important;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill{
  background-color: #b2dfdb !important;
}

.mt64 {
  margin-top: 64px;
}
.mb32{
  margin-bottom: 32px;
}
